html,
body,
#app {
  width: 100vw;
  //min-height: 150vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fafafa;
  overflow-x: hidden;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.el-header, .el-footer {
  background-color: #00cc66;
  color: var(--el-text-color-primary);
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: var(--el-text-color-primary);
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #E9EEF3;
  color: var(--el-text-color-primary);
  text-align: center;
}

.el-container {
  height: 100%;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  height: 100%;
}

.el-menu-vertical-opts {
  width: 20%;
  float: left;
  padding-top: 10px;
}

.el-menu-vertical {
  width: 100%;
}

.el-menu-vertical-opts > .el-radio-button {
  float: left;
}
